<div style="display: flex; width: 100%">
  <table class="yahtzee">
    <tr class="header">
      <td>UPPER SECTION</td>
      <td>HOW TO SCORE</td>
      <td *ngFor="let player of players">{{player.name}}</td>
    </tr>
    <tr *ngFor="let roll of yahtzee.upperSection.numberRolls">
      <td>
        <span style="text-transform: capitalize;">{{roll.title}}</span> <span>{{roll.subTitle}}</span>
      </td>
      <td>{{roll.howToScore}}</td>
      <td *ngFor="let player of players">
        <span style="font-weight: bold;">{{player.getNumberRollScore(roll)?.toString()}}</span>
        <span *ngIf="!player.getNumberRollScore(roll)" style="color: gray;" (click)="acceptScore(player, roll)">{{possible.getNumberRollScore(roll)?.toString()}}</span>
      </td>
    </tr>
    <tr class="header">
      <td>TOTAL</td>
      <td>---></td>
      <td *ngFor="let player of players">{{player.upperTotal}}</td>
    </tr>
    <tr>
      <td>
        <span>{{yahtzee.upperSection.bonus.title}}</span> <span>{{yahtzee.upperSection.bonus.subTitle}}</span>
      </td>
      <td>{{yahtzee.upperSection.bonus.howToScore}}</td>
      <td *ngFor="let player of players">
        <span *ngIf="player.gotBonus">35</span>
      </td>
    </tr>
    <tr class="header">
      <td>
        <span>TOTAL</span> <span>Of Upper Section</span>
      </td>
      <td>---></td>
      <td *ngFor="let player of players">{{player.upperTotalWithBonus}}</td>
    </tr>
    <tr class="header">
      <td>LOWER SECTION</td>
      <td></td>
      <td *ngFor="let player of players"></td>
    </tr>
    <tr>
      <td>
        <span>{{yahtzee.lowerSection.threeOfAKind.title}}</span> <span>{{yahtzee.lowerSection.threeOfAKind.subTitle}}</span>
      </td>
      <td>{{yahtzee.lowerSection.threeOfAKind.howToScore}}</td>
      <td *ngFor="let player of players">{{player.threeOfAKind?.toString() || possible.threeOfAKind?.toString()}}</td>
    </tr>
    <tr>
      <td>
        <span>{{yahtzee.lowerSection.fourOfAKind.title}}</span> <span>{{yahtzee.lowerSection.fourOfAKind.subTitle}}</span>
      </td>
      <td>{{yahtzee.lowerSection.fourOfAKind.howToScore}}</td>
      <td *ngFor="let player of players">{{player.fourOfAKind?.toString() || possible.fourOfAKind?.toString()}}</td>
    </tr>
    <tr>
      <td>
        <span>{{yahtzee.lowerSection.fullHouse.title}}</span> <span>{{yahtzee.lowerSection.fullHouse.subTitle}}</span>
      </td>
      <td>{{yahtzee.lowerSection.fullHouse.howToScore}}</td>
      <td *ngFor="let player of players">{{player.fullHouse?.toString() || possible.fullHouse?.toString()}}</td>
    </tr>
    <tr>
      <td>
        <span>{{yahtzee.lowerSection.smStraight.title}}</span> <span>{{yahtzee.lowerSection.smStraight.subTitle}}</span>
      </td>
      <td>{{yahtzee.lowerSection.smStraight.howToScore}}</td>
      <td *ngFor="let player of players">{{player.smStraight?.toString() || possible.smStraight?.toString()}}</td>
    </tr>
    <tr>
      <td>
        <span>{{yahtzee.lowerSection.lgStraight.title}}</span> <span>{{yahtzee.lowerSection.lgStraight.subTitle}}</span>
      </td>
      <td>{{yahtzee.lowerSection.lgStraight.howToScore}}</td>
      <td *ngFor="let player of players">{{player.lgStraight?.toString() || possible.lgStraight?.toString()}}</td>
    </tr>
    <tr>
      <td>
        <span>{{yahtzee.lowerSection.yahtzee.title}}</span> <span>{{yahtzee.lowerSection.yahtzee.subTitle}}</span>
      </td>
      <td>{{yahtzee.lowerSection.yahtzee.howToScore}}</td>
      <td *ngFor="let player of players">{{player.yahtzee?.toString() || possible.yahtzee?.toString()}}</td>
    </tr>
    <tr>
      <td>
        <span>{{yahtzee.lowerSection.chance.title}}</span> <span>{{yahtzee.lowerSection.chance.subTitle}}</span>
      </td>
      <td>{{yahtzee.lowerSection.chance.howToScore}}</td>
      <td *ngFor="let player of players">{{player.chance?.toString() || possible.chance?.toString()}}</td>
    </tr>
    <tr class="header">
      <td rowspan="2">YAHTZEE BONUS</td>
      <td>X FOR EACH BONUS</td>
      <td *ngFor="let player of players">
        <span *ngFor="let x of player.yahtzeeBonus">X</span>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;">SCORE 100 PER X</td>
      <td *ngFor="let player of players">{{player.yahtzeeBonusScore}}</td>
    </tr>
    <tr class="header">
      <td>
        <span>TOTAL</span> <span>Of Lower Section</span>
      </td>
      <td>---></td>
      <td *ngFor="let player of players">{{player.lowerTotal}}</td>
    </tr>
    <tr>
      <td>
        <span>TOTAL</span> <span>Of Upper Section</span>
      </td>
      <td>---></td>
      <td *ngFor="let player of players">{{player.upperTotalWithBonus}}</td>
    </tr>
    <tr class="header">
      <td>GRAND TOTAL</td>
      <td>---></td>
      <td *ngFor="let player of players">{{player.grandTotal}}</td>
    </tr>
  </table>
  <div style="width: 100%;">
    <button type="button" (click)="roll()">Roll</button>
    <div style="display: flex; justify-content: space-evenly; height: 500px; align-items: center;">
      <div *ngFor="let die of dice" style="font-size: 150%; padding: 15px; cursor: pointer;" [style.border]="die.saved ? '3px solid green' : 'initial'" (click)="saveDie(die)">{{die.value}}</div>
    </div>
  </div>
</div>
